Repository MT-CTF/maps, pull requests merged in 2019-11, with the labels that each got.

#67 Add 'Big Ocean' by gameit
  21_big_ocean.conf
  21_big_ocean.mts
  21_big_ocean.png
Labels: New map, Two approvals

#68 Add torches as initial item on Abandoned Isles
  18_abandoned_isles.conf
Labels: Enhancement, One approval

#39 Update directory structure of maps
  abandoned_isles/map.conf
  abandoned_isles/map.mts
  abandoned_isles/screenshot.png
  big_ocean/map.conf
  big_ocean/map.mts
  big_ocean/screenshot.png
  bridge/map.conf
  bridge/map.mts
  bridge/screenshot.png
  caverns/map.conf
  caverns/map.mts
  caverns/screenshot.png
  coast/map.conf
  coast/map.mts
  coast/screenshot.png
  forest/map.conf
  forest/map.mts
  forest/screenshot.png
  hunting_season/map.conf
  hunting_season/map.mts
  hunting_season/screenshot.png
  iceage/map.conf
  iceage/map.mts
  iceage/screenshot.png
  karsthafen_bridge/map.conf
  karsthafen_bridge/map.mts
  karsthafen_bridge/screenshot.png
  karsthafen_town/map.conf
  karsthafen_town/map.mts
  karsthafen_town/screenshot.png
  plain_battle/map.conf
  plain_battle/map.mts
  plain_battle/screenshot.png
  plains/map.conf
  plains/map.mts
  plains/screenshot.png
  river_valley/map.conf
  river_valley/map.mts
  river_valley/screenshot.png
  serpents_pass/map.conf
  serpents_pass/map.mts
  serpents_pass/screenshot.png
  swamplands/map.conf
  swamplands/map.mts
  swamplands/screenshot.png
  the_wall/map.conf
  the_wall/map.mts
  the_wall/screenshot.png
  towers/map.conf
  towers/map.mts
  towers/screenshot.png
  tunnel/map.conf
  tunnel/map.mts
  tunnel/screenshot.png
  two_hills/map.conf
  two_hills/map.mts
  two_hills/screenshot.png
  wool_land/map.conf
  wool_land/map.mts
  wool_land/screenshot.png
Labels: Enhancement, One approval

#66 Add "A Kingdom In The Nether" map by Waterbug
  nether_kingdom/map.conf
  nether_kingdom/map.mts
  nether_kingdom/screenshot.png
Labels: Action / change needed, New map, Two approvals

#72 Remove screenshot line in the config from all the maps
  abandoned_isles/map.conf
  big_ocean/map.conf
  bridge/map.conf
  caverns/map.conf
  coast/map.conf
  forest/map.conf
  hunting_season/map.conf
  iceage/map.conf
  karsthafen_bridge/map.conf
  karsthafen_town/map.conf
  nether_kingdom/map.conf
  plain_battle/map.conf
  plains/map.conf
  river_valley/map.conf
  serpents_pass/map.conf
  swamplands/map.conf
  the_wall/map.conf
  towers/map.conf
  tunnel/map.conf
  two_hills/map.conf
  wool_land/map.conf
Labels: Enhancement, One approval

#74 Remove Serpents Pass
  serpents_pass/map.conf
  serpents_pass/map.mts
  serpents_pass/screenshot.png
Labels: One approval

#75 Improve river valley PR#2
  river_valley/map.mts
  river_valley/screenshot.png
Labels: Enhancement, Two approvals
