Repository MT-CTF/maps, pull requests merged in 2019-12, with the labels that each got.

#78 Add an ammo pack as initial item on abandoned isles
  abandoned_isles/map.conf
Labels: Enhancement, One approval, Review required, Trivial

#76 Fix missing barriers underwater and holes in red barrier
  bridge/map.mts
  coast/map.mts
  forest/map.mts
  iceage/map.mts
  karsthafen_town/map.mts
  plains/map.mts
  towers/map.mts
  two_hills/map.mts
Labels: Bug / Bugfix, Review required, Two approvals

#63 Add "maze" map by Waterbug
  maze/map.conf
  maze/map.mts
  maze/screenshot.png
Labels: New map, Two approvals

#79 Set chest zones on Towers
  towers/map.conf
Labels: Enhancement, Two approvals

#82 Add custom treasures for Tunnel map.
  tunnel/map.conf
Labels: Enhancement, Review required
