Repository MT-CTF/maps, pull requests merged in 2020-11, with the labels that each got.

#135 Remove "Swamplands"
  swamplands/map.conf
  swamplands/map.mts
  swamplands/screenshot.png
Labels: One approval

#141 Removing Forest Map and Hunting Season & Disabling Wool Land and Abandoned Isles
  forest/map.conf
  forest/map.mts
  forest/screenshot.png
  hunting_season/map.conf
  hunting_season/map.mts
  hunting_season/screenshot.png
  wool_land/map.conf
Labels: One approval

#145 Update The Bridge
  bridge/map.conf
  bridge/screenshot.png
Labels: Enhancement, Review required

#80 Add "Burning sands map" by Waterbug
  burning_sands/map.conf
  burning_sands/map.mts
  burning_sands/screenshot.png
Labels: New map, One approval

#149 Abandoned isles: set speed to 1.2
  abandoned_isles/map.conf
Labels: Enhancement, One approval

#138 Add "castle_trouble"
  castle_trouble/map.conf
  castle_trouble/map.mts
  castle_trouble/screenshot.png
Labels: New map, Two approvals

#119 Snow Land
  snowland/map.conf
  snowland/map.mts
  snowland/screenshot.png
Labels: New map, One approval :heavy_check_mark:
