Repository MT-CTF/maps, pull requests merged in 2021-01, with the labels that each got.

#186 Fix capture legend not been able to capture
  capture_legend/map.conf
Labels: Bug / Bugfix, High Priority :grey_exclamation:

#195 Remove Pine Forest and disable Towers and Lava Puddles
  lava_puddles/map.conf
  pine_forest/map.conf
  pine_forest/map.mts
  pine_forest/screenshot.png
  towers/map.conf
Labels: Disable map :heavy_multiplication_x:, Map removal :heavy_multiplication_x:, One approval :heavy_check_mark:

#183 New Map for review "Abandoned Battlefield"
  abandoned_battlefield/map.conf
  abandoned_battlefield/map.mts
  abandoned_battlefield/screenshot.png
Labels: New map, Two approvals :tada:

#190 Green Hills Map by DiamondPlane
  green_hills/map.conf
  green_hills/map.mts
  green_hills/screenshot.png
Labels: New map, Two approvals :tada:

#197 Improve "Capture Legend" map
  capture_legend/map.conf
  capture_legend/map.mts
Labels: Enhancement, Two approvals :tada:
