Repository MT-CTF/maps, pull requests merged in 2021-02, with the labels that each got.

#199 Updates to Mini Village by Elvis26 and DiamondPlane
  mini_village/map.mts
  mini_village/screenshot.png
Labels: Enhancement, One approval :heavy_check_mark:

#201 Update "Abandoned isles" map by SoulSeeker
  abandoned_isles/map.conf
  abandoned_isles/map.mts
  abandoned_isles/screenshot.png
Labels: Enhancement, One approval :heavy_check_mark:

#202 Revive Wool map
  wool_islands/map.conf
  wool_islands/map.mts
  wool_islands/screenshot.png
  wool_islands/skybox_1.png
  wool_islands/skybox_2.png
  wool_islands/skybox_3.png
  wool_islands/skybox_4.png
  wool_islands/skybox_5.png
  wool_islands/skybox_6.png
  wool_land/map.conf
  wool_land/map.mts
  wool_land/screenshot.png
Labels: New map, One approval :heavy_check_mark:

#204 Update "Abandoned Battlefield" map
  abandoned_battlefield/map.conf
  abandoned_battlefield/map.mts
Labels: Enhancement, One approval :heavy_check_mark:

#205 Update Green Hills map
  green_hills/map.mts
Labels: Enhancement, Two approvals :tada:

#209 Add Torched to Moon Map's 'initial_stuff'
  moon/map.conf
Labels: Enhancement, One approval :heavy_check_mark:, Trivial
