Repository MT-CTF/maps, pull requests merged in 2023-04, with the labels that each got.

#266 Add "Race Day" by sonicSMASH and tailsSMASH
  race_day/map.conf
  race_day/map.mts
  race_day/screenshot.png
Labels: New map, Review required :mag:, One approval :white_check_mark:, Two approvals :tada:

#283 Balance bases in A Mayan Legend
  mayan_legend/map.mts
Labels: Enhancement, One approval :white_check_mark:

#272 Add new map "Savanna Ravine"
  savanna_ravine/map.conf
  savanna_ravine/map.mts
  savanna_ravine/screenshot.png
Labels: New map, Review required :mag:, Two approvals :tada:
