Repository MT-CTF/maps, pull requests merged in 2024-06, with the labels that each got.

#320 Add new map "Titanomachy: Aftermath"
  titanomachy/barriers.data
  titanomachy/map.conf
  titanomachy/map.mts
  titanomachy/screenshot.png
Labels: New map, Review required :mag:, One approval :white_check_mark:

#322 Revise Volcano Map
  volcano/barriers.data
  volcano/map.conf
  volcano/map.mts
  volcano/screenshot.png
Labels: Enhancement, Two approvals :tada:

#334 Add new map "Cargo Port" by Themostrandom01
  cargo_port/barriers.data
  cargo_port/map.conf
  cargo_port/map.mts
  cargo_port/screenshot.png
Labels: New map, Review required :mag:, Two approvals :tada:
